<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Augura buone feste</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddFabrianoWish()">
      <div class="list">
        <div class="row" style="margin: auto;" ng-if="!new_wish.url">
            <div class="col"><img src="https://youtube.com/yt/brand/media/image/YouTube-icon-full_color.png" height="48" /></div>
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Facebook_Logo.jpg" height="48" /></div>
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Photo_camera_icon.png" height="48" /></div>
            <div class="col"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Link_icon.svg/512px-Link_icon.svg.png" height="48" /></div>
        </div>
        <!-- OLD photo
        <ion-item class="photo" ng-if="new_wish.url">
            <img ng-src="{{new_wish.preview_url}}" height="200" /> -->
        <!-- <em>foto da {{fab_photo.author}}</em> -->
        <!-- </ion-item> -->
        <label class="item item-input">
          <span class="input-label">Link da caricare</span>
          <input id="wish-link" type="text" ng-model="new_wish.url" placeholder=" un video YouTube, un video Facebook, una foto, o copia qui un altro link" ng-change="changeBackground()">
        </label>
        <label class="item item-input">
          <span class="input-label">Titolo</span>
          <input type="text" ng-model="new_wish.title" placeholder=" intitola il tuo augurio!">
        </label>
        <label class="item item-input">
          <span class="input-label">Il tuo nome</span>
          <input type="text" ng-model="new_wish.author_name">
        </label>
        <label class="item item-input">
          <span class="input-label">La tua email</span>
          <input type="text" ng-model="new_wish.author_email">
        </label>
        <label class="item item-input">
          <span class="input-label col-center">La tua dedica</span>
          <textarea ng-model="new_wish.dedication" class="text-middle"> </textarea>
        </label>
        <label class="item item-input">
          <span class="input-label">Link al tuo logo</span>
          <input type="text" ng-model="new_wish.author_avatar" placeholder=" se associazione, azienda, gruppo, ..." />
        </label>
        <label class="item item-input" ng-hide="send_friends_pressed">
          <button class="button button-block button-balanced" type="button" ng-click="send_friends = true; send_friends_pressed = true;">Invia come mail agli amici</button>
        </label>
        <label class="item item-input" ng-if="send_friends">
          <span class="input-label">Indirizzi email</span>
          <input type="text" ng-model="new_wish.email_to" placeholder=" anche più di uno separato da virgola" />
        </label>
        <label class="item item-toggle" ng-if="send_friends">
          <span class="input-label">Rendi l'augurio privato</span>

          <span class="toggle">

          <input type="checkbox" ng-model="new_wish.is_private" />
          <div class="track">
            <div class="handle"></div>
          </div>
          </span>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Carica il tuo augurio!</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
