<ion-view view-title="Tanti auguri!">
  <ion-content>
      <ion-header-bar class="text-scrolling bar-calm">
          <h3 class="title">Questo sito è un progetto sperimentale per augurare buon Natale e felice anno nuovo a Fabriano e da Fabriano nell'ambito del progetto <a href="http://www.fabrianodigital.it" target="_blank">Fabriano Digital</a>. È realizzato grazie all'apporto volontario del MakerSpace, di Fabricamenti, e di altri. Passateci a trovare in questi giorni e vedrete come ci divertiamo a migliorare questo servizio. <a href="https://github.com/feroda/digitalwishes-ui/issues" target="_blank"> Se volete dare una mano guardate la lista delle cose da fare da sviluppatori o web designer</a></h3>
      </ion-header-bar>
    <ion-card ng-repeat="kind in kinds">
        <ion-item class="item-body" href="#/app/playlists/{{kind.slug}}">
          <ion-item class="item-divider">{{kind.title}}</ion-item>
          <ion-item>
                <slick fade="true" cssEase="linear" infinite="true" dots="false" autoplay="true" speed="300" slides-to-show="1" touch-move="false" slides-to-scroll="1">
                  <div ng-repeat="wish in wishes | filter:{ kind: kind.slug }">
                      <img ng-src="{{wish.preview.url}}" ng-if="!wish.preview.width" />
                      <img ng-src="{{wish.preview.url}}" width="{{wish.preview.width}}" ng-if="wish.preview.width" />
                  </div>
                </slick>
          </ion-item>
          <!--
          <ion-item class="item-avatar">
              <img src="{{}}">
                  <h2>Marty McFly</h2>
                      <p>November 05, 1955</p>
                        </ion-item>
          -->
      </ion-item>
    </ion-card>
  </ion-content>
</ion-view>
