.wish-card {
    padding: 0.1em;
    margin-bottom: 1em !important;
    margin-top: 3em !important;
    border: 1px solid $blue-slick;
    border-radius: $length-radius $length-radius 0 0;
}

.wish-top {
    background-color: white;
    border-bottom: 1px solid $blue-slick;
    margin-bottom: 0px;
    text-align: center;
    border-radius: $length-radius $length-radius 0 0;
}

.wish-body {
    text-overflow: clip;
    white-space: normal;
    border: 0px solid white;
    @include blue;
    @media screen and (min-width: $break-large) {
        min-height:295px !important;
    }
}

.wish-bottom {
    border-left: 0px solid white;
    border-bottom: 0px solid white;
    border-right: 0px solid white;
    @include blue;
}

.wish-cell-preview {
    background-color: #000;
    background-image: url("https://www.yugma.com/images/loading-animation-7.gif");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid white;
    text-align: center;
    vertical-align: middle;
    @media screen and (max-width: $break-small) {
        width:100%;
    }
    @media screen and (min-width: $break-large) {
        width: 50%;
    }
}

.item-input input, .item-input textarea {
    border: 1px dashed #387EF5;
    border-radius: 0.2em;
    margin-right: 0.5em;
}

.reduce-width {
    margin: auto;
    @media screen and (min-width: $break-large) {
        height:100%;
    }
}

.img-preview {
    height:360px;
}

.wish-cell {
    padding: 0px;
    border: 0px;
    vertical-align: middle;
}

.wish-row {
    border: 0px solid #3498DB;
    border-radius: 0em;
    padding: 0 1px;
    @media screen and (min-width: $break-large) {
        display: flex;
    }
}

/*
.wish-cell-right {
    border-bottom: 1px solid #3498DB;
    margin-left: 0.1em;
}

.wish-detail .wish-cell-preview {
    background-color: white;
    background-repeat: repeat;
    padding: 0.5em !important;
    margin: 0.1em;
}
*/
