/* Empty. Add your own CSS if you like */
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item {
    font-size: x-large !important;
}

.wish-filters .wrap-dd-select {
    height: 100%;
    width: 100%;
    // background-color: #33CD5F;
    // color: white;
}

.wish-card {
    padding: 0px 0em 1px 0;
    margin-bottom: 1em !important;
    margin-top: 3em !important;
}

.wish-body {
    height: 81%;
    border-right: 0px solid white;
    border-top: 0px solid white;
    font-size: x-large;
    text-overflow: clip;
    white-space: normal;
    line-height: 1.2em;
}


.wish-top {
    border-radius: 1em 1em 0 0;
    border: 1px solid #3498DB;
    margin-bottom: 0px;
}

.wish-cell {
  padding: 0px;
  border: 0px;
  vertical-align: middle;
  min-width: 480px;
  min-height: 360px;
}

.wish-cell-right {
    aborder-radius: 0 1em 1em 0;
    aborder: 1px solid #3498DB;
}

.wish-row {
    border: 0px solid #3498DB;
    border-radius: 0em;
    display: flex;
    padding: 0 1px;
}

.wish-cell-preview {
    background-color: #000;
    background-image: url("https://www.yugma.com/images/loading-animation-7.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.img-preview {
    width:480px;
}

.wish-bottom {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 0px solid white;
    border-right: 0px solid white;
    border-radius: 0 0 1em 0;
}

.available-scroller {
    height: 250px;
}

.item-input input, .item-input textarea {
    border: 1px dashed #387EF5;
    border-radius: 0.2em;
    margin-right: 0.5em;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-middle {
    height: 8em;
}

/* .bar-margin {
    margin-bottom: 0.5em;
} */

/* text scrolling by http://www.quackit.com/html/html_editors/scratchpad/?example=/css/codes/marquees/scrolling_text*/
.text-scrolling {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.text-scrolling h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: text-scrolling 15s linear infinite;
    -webkit-animation: text-scrolling 15s linear infinite;
    animation: text-scrolling 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes text-scrolling {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes text-scrolling {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes text-scrolling {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
