/* Empty. Add your own CSS if you like */

.available-scroller {
    height: 250px;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text-middle {
    height: 8em;
}

/* .bar-margin {
    margin-bottom: 0.5em;
} */

